@model IEnumerable<InventoryApp.Models.Location>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Regál</th>
            <th>Šuplík</th>
            <th>Krabička</th>
            <th class="text-end">Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loc in Model)
        {
            <tr>
                <td>@loc.Rack</td>
                <td>@loc.Drawer</td>
                <td>@loc.Box</td>
                <td class="text-end">
                    <a asp-action="Delete" asp-route-id="@loc.Id" class="btn btn-sm btn-outline-danger">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>